<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <title></title>
  </head>
  <body>
    {% include 'includes/navbar.html' %}
    <div class="container-primary">
      <h1>Bem-vindo! Faça seu cadastro</h1>
      <div class="container-img">
        <img src="../static/img/undraw_interview_re_e5jn.svg" alt="img svg" />
      </div>
      <a href="/cadastro">
        <button class="button-home">Cadastro de cliente</button>
      </a>
    </div>
  </body>
</html>
