@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/* Estilização global */
html,
body {
  background: rgb(38,50,56);
  background: linear-gradient(90deg, rgba(38,50,56,1) 0%, rgba(148,187,233,1) 100%);
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  height: 50rem;
  color: #dfdfdf;
}

h1 {
  text-align: center;
  font-size: 30pt;
  margin-top: 2rem;
}

h1,
h2 {
  color: #dfdfdf;
}

.container-primary {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 5rem auto 5rem auto;
  height: 100%;
  text-align: center;
}

/* Estilização da página home */
.container-primary img {
  width: 350px;
  margin: 1rem 0 4rem 0;
}

.button-home {
  background-color: #dfdfdf;
  color: #6d33f5;
  font-size: larger;
  font-weight: bold;
  width: 200px;
  height: 50px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid white;
  transition: .5s;
}

.button-home:hover {
  cursor: pointer;
}

/* Estilização de formulario */
.container-form {
  max-width: 400px;
  max-height: 400px;
  width: 100%;
  height: 100%;
  margin: 1rem auto 10rem auto;
}

.form {
  background: rgba(255, 255, 255, 0.12);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.3px);
  -webkit-backdrop-filter: blur(3.3px);
  padding: 20px;
  text-align: left;
}

.container-form input {
  width: 95%;
  height: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 5px;
  border-style: none;
}

.container-form label {
  color: #dfdfdf;
}

.container-button {
  padding: 5px;
  text-align: center;
}

.button-form {
  background-color: #8257e6;
  color: #dfdfdf;
  font-size: large;
  width: 120px;
  height: 40px;
  margin: 5px;
  border-radius: 5px;
  border-style: none;
  transition: .5s;
}

.button-form:hover {
  background-color: #6d33f5;
  cursor: pointer;
}


/* Estiliza do navbar */
.navbar {
  background: rgba(255, 255, 255, 0.12);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.3px);
  -webkit-backdrop-filter: blur(3.3px);
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 5rem;
}

.navbar-nav {
  list-style-type: none;
  margin: 5px 0 5px 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  text-decoration: none;
  color: #dfdfdf;
  font-weight: bold;
  padding: 5px;
  transition: .5s;
}

.nav-link:hover {
  color: #c9b384;
}

/* Estilização do footer */
.footer-container {
  width: 100%;
  background-color: #d0a442;
  color: #4b4b4b;
  padding: 10px 0 10px 0;
  text-align: center;
  margin-top: 290px;
}

/* Tabela */

table {
  text-align: right;
  border: 2px solid #dfdfdf;
  padding: 30px;
  border-radius: 10px;
}

td {
  text-align: right;
}

.button-table {
  background-color: #8257e6;
  color: #dfdfdf;
  font-size: medium;
  width: 100px;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
  border-style: none;
  margin: right;
}