<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <title>Clientes</title>
  </head>
  <body>
    {% include 'includes/navbar.html' %}
    <div class="container-primary">
      <h1>Lista de clientes</h1>

      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for cliente in clientes %}
          <tr>
            <td>{{ cliente.id }}</td>
            <td>{{ cliente.nome }}</td>
            <td>
              <a href="/sobre/{{cliente.id}}"
                ><button class="button-table">Sobre</button></a
              >
            </td>
            <td>
              <a href="/alteracao/{{cliente.id}}"
                ><button class="button-table">Alterar</button></a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
