<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <title>Editar produto</title>
  </head>
  <body>
    {% include 'includes/navbar.html' %}
    <div class="container-primary">
      <h1>Editar produto</h1>
      <div class="container-form">
        <form
          method="POST"
          action="{{ url_for('editar', id=produto.id) }}"
          class="form"
        >
          <label for="nome">Nome:</label>
          <input
            type="text"
            id="nome"
            name="nome"
            value="{{ produto.nome }}"
            required
          />

          <label for="categoria">Categoria:</label>
          <input
            type="text"
            id="categoria"
            name="categoria"
            value="{{ produto.categoria }}"
            required
          />

          <label for="nascimento">Data nascimento</label>
          <input
            id="nascimento"
            type="date"
            name="nascimento"
            value="{{ produto.nascimento }}"
          />

          <label for="email">E-mail:</label>
          <input
            type="email"
            id="email"
            name="email"
            value="{{ produto.email }}"
            required
          />

          <label for="telefone">Telefone:</label>
          <input
            type="tel"
            id="telefone"
            name="telefone"
            value="{{ produto.telefone }}"
            required
          />
          <div class="container-button">
            <button class="button-form" type="submit">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
